@import '../../variables.scss';

* {
    letter-spacing: 0.5px;
    background-color: $theme-background-color;
}

.wrapper {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    >hr{
        padding-left: 3rem;
        width: 75%;
    }
}

.heading {
    all: unset;
    background-color: $theme-background-color;
    font-family: $theme-font-family;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0rem;
    height: auto;
    width: auto;
    h1 {
        padding-right: 1rem;
        
    }

    .event-card-info-btn {
        all:unset;
        padding: 0;
        background-color: $theme-background-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3remb;
    font-family: $theme-font-family;
    background-color: $theme-background-color;
}

.event-heading {
    padding-top: 1rem;
    font-weight: 600;
}

.user-events {
    h2 {
        align-items: flex-start;
        width: 100%;
        padding-bottom: 2rem;
    }
}

.add-event{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}