@import '../../variables.scss';

// HEADING DESIGN
.heading {
    background-color: $theme-background-color;
    font-family: $theme-font-family;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 3rem 0 3rem;

    h5 {
        font-weight: 200;
    }

    p {
        font-weight: 300;
    }

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: $theme-font-family;
    background-color: $theme-background-color;
    padding: 0 3rem 3rem 3rem;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    width: 100%;
    border-bottom: dashed 1px grey;
}

// CARD DESIGN
.card-list-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    margin-right: 2rem;
}

.card-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: $color-white;
    box-shadow: $theme-drop-shadow;
    border-radius: 15px;
    transition: 0.5s;
    padding: 1rem;
    margin-bottom: 1.5rem;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 10px 0px;
    }
}

.card-item-info {
    display: flex;
    padding: 1rem;
}

.card-item-date-info {
    margin-right: 1.5rem;
}

.card-item-date-info,
.card-item-event-info {
    h4 {
        font-weight: 400;
    }

    h5 {
        font-weight: 200;
    }
}

// BUTTON DESIGN
.button-container {
    margin-top: 0.5rem;
}

button {
    height: 1rem;
    border: none;
    padding: 1rem 2rem;
    background-color: $theme-primary-color-light;
    box-shadow: $theme-drop-shadow;
    border-radius: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: $theme-primary-color;
    }
}