@import '../../variables.scss';

@import '../../variables.scss';

* {
    letter-spacing: 0.5px;
    background-color: $theme-background-color;
}

.container {
    display: flex;
    align-items: center;
    height: 80vh;
    font-family: $theme-font-family;
    padding: 5rem 3rem 3rem 3rem;
}

// TICKET INFO SECTION (LEFT SIDE)
.ticket-info {
    width: 30%;
    height: 60vh;
    margin-right: 1rem;
}

.ticket-info-return {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;

    a {
        font-weight: 200;
        color: $theme-text-color;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.ticket-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        border-radius: 0.5rem;
        box-shadow: $theme-drop-shadow;
    }
}

.ticket-info-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h3 {
        font-weight: 600;
        margin-bottom: 0.2rem;
    }

    p {
        font-weight: 200;
        margin-bottom: 0.1rem;
    }
}

.ticket-info-other-options {
    background-color: $theme-background-color;
    ul {
        background-color: $theme-background-color;

        li {
            display: flex;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: $theme-background-color;

            a {
                color: $theme-text-color;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

// TICKET LIST SECTION (RIGHT SIDE)
.tickets-list {
    height: 60vh;
    width: 70%;
    padding: 0 1rem 0 1rem;
}

.tickets-list-container {
    height: 45vh;
    overflow-y: scroll;
    padding: 0.5rem;
}

.tickets-list-card-item {
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: $color-white;
    box-shadow: $theme-drop-shadow;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    div {
        margin-left: 1rem;
    }

    &:hover {
        transition: smooth 0.5s ease;
        transform: scale(1.01);
    }
}

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 22px;
    background-color: $color-white;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $theme-background-color;
    border: 2px solid black;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: $theme-primary-color;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.seat-details {
    p {
        background-color: $color-white;
    }
}

.ticket-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;

    button {
        color: $color-white;
        font-size: 1rem;
        width: 20%;
        height: 2.5rem;
        background-color: $theme-green-color-light;
        box-shadow: $theme-drop-shadow;
        border: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $theme-green-color;
        }
    }
}

.ticket-info-return {
    padding-bottom: 0.2rem;

    img {
        margin-right: 0.5rem;
        width: 1rem;
        height: auto;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.001);
        transition: 0.1s;
    }
}

.svg {
    margin-right: 0.5rem;
    width: 1rem;
    height: auto;
}

.ticket-info-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-left: 5rem;
    background-color: $color-white;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        background-color: $color-white;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}