
$theme-primary-color: #F77E49;
$theme-svg-primary-color: invert(69%) sepia(60%) saturate(3341%) hue-rotate(329deg) brightness(99%) contrast(95%);;
$theme-primary-color-light: #FFA270;
$theme-background-color: #eee;
$theme-text-color: #333;
$theme-blue-color-light: #29B5F6;
$theme-blue-color-dark: #0A7AFF;
$theme-yellow-color: #FBBC05;
$theme-green-color: #066916;
$theme-green-color-light: #0F9D58;

$color-black: #000;
$color-white: #fff;

$theme-drop-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$theme-font-family: 'Roboto Flex', sans-serif;