@import 'variables.scss';

.top-section-container {
    background-color: $color-black;
    width: 100%;
    height: 35vh;

    display: flex;
    flex-direction: row;
}

.top-left-section, .top-right-section {
    width: 50%;
}

.top-left-section {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.top-right-section {
    display: flex;
    flex-direction: column;
    color: $color-white;
    justify-content: center;
}


.landing-text-title {
    color: $color-white;
    font-family: $theme-font-family;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.15rem;
    line-height: normal;
    margin-bottom: 2px;
    // min-height: ;
    width: 50%;

    .title {
        font-weight: 700;
        font-size: 2.4rem;
    }

    .span1 {
        font-weight: 100;
        font-size: 1.3rem;
    }
}

.title {
    color: $color-white;
    font-family: $theme-font-family;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}

.span1 {
    color: $color-white;
    font-family: $theme-font-family;
    font-size: 32px;
    font-weight: 200;
}

// SEARCH BAR DESIGN
.searchbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.55rem;
    font-family: $theme-font-family;
    

    form {
        background-color: $color-white;
        width: 600px;
        height: 55px;
        display: flex;
        box-shadow: 0px 0px 15px -5px;

        input {
            flex: 1;
            padding: 0 1.5rem 0 1.5rem;
            
        }

        input:focus {
            outline: none;
        }

        button {
            background: $theme-primary-color;
            padding: 0 1.5rem 0 1.5rem;
            border: none;
            color: $color-white;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

// MAIN SECTION DESIGN

.upcoming {
    color: $color-black;
    font-family: $theme-font-family;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 45px;
    white-space: nowrap;
    padding: 2rem;
}

main {
    height: 45vh;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 0 2rem 0;
}

.card-container {
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 15px;
    transition: 0.5s;
}

.card-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 0px;
}

.image-container {
    object-fit: contain;

    img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
}

.card-title-container {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.card-body {
    margin: 0.5rem;
    margin-top: 0.5rem;
    font-family: $theme-font-family;
    justify-content: center;
    align-items: center;

    p {
        font-weight: 100;
    }
}

.card-title {
    padding: 0.25rem;
}

.event-date {
    span {
        color: blue;
    }
}

h3,
p {
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}

// LOAD MORE EVENTS

.load-more {
    text-align: center;
    padding-bottom: 2rem;

    button {
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        font-size: 1.15em;
        border-radius: 1.5rem;
        padding: 0.8rem;
        color: $theme-primary-color;
        border-color: $theme-primary-color;
        transition: 0.5s;
    }

    button:hover {
        transform: scale(1.01);
        
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    }
}

// FOOTER DESIGN
.footer {
    font-family: $theme-font-family;
}

.footer-container {
    padding: 1rem;
    display: flex;
    background-color: $theme-primary-color;
    min-height: 17vh;
    justify-content: space-around;
}

.footer-description {
    color: $color-white;
}

.footer-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 0.5rem;
}

.footer-desctiption-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $color-white;
    padding-bottom: 12px;
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        font-weight: 200;
        margin-top: 0.25rem;
    }

    li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.list-container {
    padding: 0 2rem 0 2rem;
}

.copyright {
    display: inline-block;
    font-weight: 100;
    padding-top: 12px;
}