/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700&display=swap');
@import '_variables.scss';

:root {
  margin: 0;
  width: 100%;
  line-height: normal;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}