@import '../../variables.scss';

* {
    letter-spacing: 0.5px;
    background-color: $theme-background-color;
}

.heading {
    background-color: $theme-background-color;
    font-family: $theme-font-family;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 3rem 0 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
    font-family: $theme-font-family;
    background-color: $theme-background-color;
}

.event-heading {
    padding-top: 1rem;
    font-weight: 600;
}

.user-events {
    h2 {
        align-items: flex-start;
        width: 100%;
        padding-bottom: 2rem;
    }
}

.upcoming-events-container,
.past-events-container {
    flex-direction: row;
    width: 100%;
}

.event-card {
    display: flex;
    height: 15vh;
    margin-bottom: 1rem;

    &:hover {
        transition: smooth 0.5s ease;
        transform: scale(1.01);
    }
}

.event-card-img {
    display: flex;
    padding-right: 1.5rem;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        border-radius: 0.5rem;
        box-shadow: $theme-drop-shadow;
    }
}

.event-card-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: $color-white;
    box-shadow: $theme-drop-shadow;
    border-radius: 0.5rem;
}

.event-card-info-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    background-color: $color-white;

    * {
        background-color: $color-white;
    }

    p {
        font-weight: 200;
    }
}

.event-btn-container {
    display: flex;
    background-color: $color-white;
}

.event-card-info-btn {
    background-color: $color-white;
    border-radius: 1rem;

    margin-right: 0.5rem;

    button {
        height: 1rem;
        border: none;
        padding: 0.8rem 1.5rem;
        background-color: $theme-blue-color-light;
        box-shadow: $theme-drop-shadow;
        border-radius: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $theme-blue-color-dark;
        }
    }

    .disable-event {
        background-color: $theme-primary-color;
        color: $color-white;

        &:hover {
            background-color: $theme-primary-color-light;
        }
    }

    .enable-event {
        background-color: $theme-green-color;
        color: $color-white;

        &:hover {
            background-color: $theme-green-color-light;
        }
    }

    .edit-event {
        background-color: $theme-yellow-color;

        &:hover {
            background-color: $theme-yellow-color-dark;
        }
    }
}

.event-card-info-svg {
    background-color: $color-white;

    img {
        background-color: $color-white;
        width: 1rem;
        height: auto;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
    }
}